#blog h3, h4 {
    text-align: justify;
    line-height: 2;
    max-width: 1024px;
    min-width: 768px;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#blog article {
    margin: 1px;
    width: 100;
    
}

#blog img {
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
    cursor: pointer;
}