@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url(menu.css);
@import url(banner2.css);
@import url(blogs2.css);
@import url(info.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Fjalla One', sans-serif;
}

header {
	width: 100%;
	height: 40px;
	background: #333;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100; 
}


.contenedor {
width: 100%;
	margin: auto;
}

.cont_1{
    width: 90%;
	margin: auto;
}

h1 {
	float: left; 
}

header .contenedor{
	display: table;
}

section {
	width: 100%;
	margin-bottom: 20px;
}

#Bienvenidos {
    text-align: center;
    justify-content: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy {
    font-size: 20px;
    
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media (min-width:768px){
    .sociales {
        width: auto;
    }
    footer .contenedor {
        justify-content: space-between;
    }
}

@media (min-width:1024px){
    .contenedor {
        width: 1080px;
    }
}