*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: url(../IMG/fondoregistro.jpg) ;
    display: flex;
    min-height: 100hv;
}

h1 {
    color: #fff;
    text-align: center;
}

form {
    width: 98%;
    max-width: 500px;
    margin: 100px auto;
    background: white;
    border-radius: 7px;
}
.form-register {
 
}

.form-titulo {
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid darkgray;
    
}
.contenedor-inputs {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-48 {
    width: 48%
}

.input-100 {
    width: 100%;
}

.send {
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 8px 40px;
    cursor: pointer;
}

.btn-enviar:active {
    transform: scale(1.05)
}

.form-link {
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
    
}